name: Create infrastructure
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  ACR_NAME: filevaultjessie
  IMAGE_NAME: filevault-app

jobs:
  terraform-lifecycle:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Azure CLI
        uses: azure/login@v2
        with:
          creds: '{"clientId":"${{ secrets.AZURE_CLIENT_ID }}","clientSecret":"${{ secrets.AZURE_CLIENT_SECRET }}","subscriptionId":"${{ secrets.AZURE_SUBSCRIPTION_ID }}","tenantId":"${{ secrets.AZURE_TENANT_ID }}"}'

      - name: Terraform Init
        run: |
          cd terraform
          terraform init -backend-config="access_key=${{ secrets.TFSTATE_STORAGE_ACCOUNT_KEY }}"

      - name: Terraform Plan (PR & Push)
        run: |
          cd terraform
          terraform plan -var="container_image_tag=${{ github.sha }}"

      # ONLY Apply the Registry on Push to Main
      - name: Terraform Apply Registry (Push Only)
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: |
          cd terraform
          terraform apply -target=azurerm_container_registry.acr -auto-approve
        env:
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}